# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

app-example
# === SECURITY: never commit signing keys / certs ===
*.jks
*.keystore
*.p12
*.pfx
*.pem
*.cer
*.crt
*.der
*.key
*.mobileprovision
gamesworld-8b301-ed81c5160a67.json
gamesworld-8b301-ed81c5160a67.json
