# Node modules
node_modules/

# Expo / React Native caches
.expo/
.expo-shared/
npm-debug.log
yarn-error.log

# Build outputs
dist/
build/
android/
ios/

# System files
.DS_Store
Thumbs.db

# VSCode
.vscode/
